.card{
    border-radius: 0;
    cursor: pointer;
}

.card,
.card-footer{
    background: #FFFFA5;
    border: none;
}

.card.completed,
.card.completed .card-footer,
.card.completed fa{
    background-color: #EEE;
    color:#CCC;
}

.card-footer{
    text-align: right;
}



fa{
    color: #CC0000;
    padding-right: .5rem;
}